@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@font-face {
  font-family: Effra;
  src: url(../../asset/fonts/Effra_Std_Lt.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #484B57;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 7vh;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.348);
  z-index: 1;
}

.header img {
  width: 15rem;
}

.content-video{
  background-image: url(../../asset/background-desktop.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 93vh;
}

.content-video h1 {
  color: #484B57;
  text-align: center;
  font-size: 52px;
}

.content-video p {
  background-color: #1FAB36;
  color: white;
  margin: 20px 0;
  padding: 2px 5px;
  font-size: 28px;

  font-weight: 300;
  font-family: 'Roboto Slab';
}

.content-video iframe {
  margin-bottom: 40px;
  width: 1024px;
  height: 576px;
}

/* Content Doctor */

.content-doctor {
  /* padding: 20px; */
  /* max-width: 1000px; */
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* position: relative; */

  font-family: 'Roboto';  
}

.content-doctor h1 {
  text-align: center;
  font-size: 56px;
  position: absolute;
  top: 110%;
}

.content-doctor h1 span {
  font-weight: 400;
  font-size: 24px;
  color: #FF594E;
}

.container-text-image {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.text-container{
  position: absolute;

  display: flex;
  flex-direction: column;
  
  font-size: 24px;
  font-weight: 300;
  max-width: 900px;
  right: 35%;
  top: 135%;
}

.text-container p{
  margin: 30px 0;
  color: #3B4157;
}

.content-doctor img {
  position: absolute;
  right: 13%;
  top: 114.1%;
  width: 550px;
}

/* Box Card */

.box-card {
  width: 100%;
  height: 85vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  row-gap: 50px;

  background-color: #3B4157;

  font-family: 'Roboto';
}

.chamada-box-card{
  font-weight: bold;
  font-size: 52px;
  color: white;

}

.box-card h2 {
  background-image: url(../../asset/mark.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  color: white;
  text-align: center;
  padding: 10px;
}

.box-card h1 {
  padding: 0 20px;
}

.list-of-cards{
  display: flex;
  align-items: center;
}


.list-of-cards h4 {
  font-weight: bold;
}

.list-of-cards p{
  font-weight: bold;
  font-size: 20px;

  color: #3B4157;
  line-height: 24px;
}

.list-of-cards p span {

  color: #06a706;
  font-weight: 300;
}

.card {
  padding: 10px;
}


.card-cinza{
  background-color: #f5f5f5;
  color: #808080;
  
  border-radius: 5px;

  width: 100px;
  height: 70px;
  
  padding-bottom: 5px;
  margin-top: 25px;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.card-cinza h1 {
  line-height: 45%;
}

.card-verde h1 {
  line-height: 30%;
}

.card-verde {
  background-color: #06a706;
  color: white;

  margin: 0 20px;

  border-radius: 5px;

  width: 100px;
  height: 70px;
      
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 5px;
      
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

#card2 h4{
  text-transform: uppercase;
}

#card2 ul {

  padding-top: 20px;
  padding-left: 10px;
  list-style: none;
  text-align: start;
}

#card2 ul li:not(:last-child) {
  margin-bottom: 8px;
}

#card2 a span {
  font-weight: bold;
}


/* Warranty Section */

.warranty-section{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
}

.warranty-section h1 {
  text-align: center;
  font-size: 52px;
  color: #3B4157;
}

.warranty-section span {
  color: #FF594E;
  font-size: 30px;
  font-weight: 400;
}

.warranty-banner {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  box-shadow: 0px 0px 20px 0px rgba(143,143,143,1);

  padding: 40px;

  margin: 40px 0;
  

  /* background-color: red; */

  width: 1000px;
}

.warranty-banner img {
  width: 150px;
  margin-right: 40px;
}

.warranty-banner p {
  text-align: justify;
  height: 120px;
  font-family: "Roboto";
}


/* Images Section */

.images-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.images-section img {
  width: 530px;
}

/* Info Images */

.info-images {
  max-width: 1030px;

  text-align: justify;

  margin-top: 30px;
  margin-bottom: 90px;
}


/* FAQ */

.faq{
  width: 100%;
  display: flex;
  justify-content: center;

  padding: 60px 0;
  padding-bottom: 80px;

  color: white;
  background-color: #3B4157;
}

.faq-questions{
  width: 1000px;
}

.faq-questions h1{
  text-align: center;
  padding-bottom: 20px;
  font-size: 42px;;
}

.faq-questions ul {
  list-style: none;
}

.faq-questions ul li {
  cursor: pointer;
  margin: 20px 0;
}

.faq-questions ul li span {
  color: #FF594E;
  margin-right: 10px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.faq .active .answer{
  max-height: 300px;
}

/* Selling section */

.selling-section{
  margin-top: 80px;
}

.selling-text{
  text-align: center;
  font-size: 24px;
}

.selling-text span{
  color: #FF594E;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.info-image-selling {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-image-selling img {
  width: 520px;
  margin: 50px -30px;
}

.info-image-selling p {
  font-size: 23px;
  width: 530px;
}

.info-image-selling ul{
  list-style: none;
}

.info-image-selling ul li{
  margin: 20px 0;
  /* margin-left: 50px; */
}

.info-image-selling ul li span {
  margin: 0 20px;
  color: #1cb81e;
  font-size: 18px;
}


/* Footer */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f5f5f5;

  width: 100%;
  height: 15rem;

  color: #565a69;
  
  margin-top: 30px;

  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  font-size: 13px;

  line-height: 1;
}

.footer-info{
  max-width: 950px;
  /* margin-top: ; */
  text-align: justify;
}

.footer-terms{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1266px;
  margin-top: 30px;
}

.footer-terms img{
  width: 180px;
}

/* Button */

#back-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;

  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 25px;
  color: #fff;
  background-color: #232387;
  padding: 10px 21px;
  padding-bottom: 15px;
  border: none;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  transition : 1000ms;
  transform: translateY(0);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#back-to-top:hover{
  transition : 1000ms;
  padding: auto 22px;
  transform : translateY(-0px);
  background-color: #f5f5f5;
  color: #60676f;
  /* border: solid 2px #8098b0; */
}